[submodule "kson"]
	path = kson
	url = https://github.com/m4saka/libkson.git
[submodule "kshootmania/third_party/CoTaskLib"]
	path = kshootmania/ThirdParty/CoTaskLib
	url = https://github.com/m4saka/CoTaskLib.git
[submodule "kshootmania/third_party/NocoUI"]
	path = kshootmania/ThirdParty/NocoUI
	url = https://github.com/m4saka/NocoUI.git
[submodule "ksmaxis"]
	path = ksmaxis
	url = https://github.com/kshootmania/ksmaxis.git
[submodule "ksmaudio"]
	path = ksmaudio
	url = https://github.com/kshootmania/ksmaudio.git
